body {
    font-family: Arial, sans-serif;
    background-color: #b23131;
    text-align: left;
    margin: 0;
    padding: 0;
}

a {
#####for link design#####
}

########"    background-image:url('atteli/taiyakidot.jpg'); " for background for our other shit code############
