body {
    font-family: "Kristen ITC", sans-serif;
    background: linear-gradient(rgba(81, 24, 142, 0.5), rgba(81, 24, 142, 0.5)), 
    url('/static/images/zuma2.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


.navi {
    width: 100%;
    padding: 10px;
    font-family: "Kristen ITC", sans-serif;
    font-size: 22pt;
    background: linear-gradient(rgb(255, 201, 181), lemonchiffon)
}

.navi ul li {
    margin-left: 20px;
}

.navi ul li a {
    color: rgb(66, 34, 95);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    display: block;
}

.navi ul li a:hover {
    background-color: rgba(45, 5, 242, 0.2);
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: rgb(154, 116, 221);
}

a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

a:hover {
    color: rgb(234, 234, 156);
}

#downloadBtn {
    background-color: rgb(234, 234, 156);
    color: rgb(66, 34, 95);
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px; 
}

#downloadBtn:hover {
    background-color: #d2b556;
}

#downloadBtn3 {
    background-color: rgb(234, 234, 156);
    color: rgb(66, 34, 95);
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px; 
}

#downloadBtn3:hover {
    background-color: #d2b556;
}

#downloadBtn4 {
    background-color: rgb(234, 234, 156);
    color: rgb(66, 34, 95);
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px; 
}

#downloadBtn4:hover {
    background-color: #d2b556;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.styled-table {
    width: 90%;
    height: 90%;
    border-collapse: collapse;
    background-color: rgba(35, 34, 36, 0.5);
    padding: 10px;
    table-layout: fixed;
}

.styled-table td {
    border: 2px solid rgba(255, 255, 255, 0.226);
    padding: 15px;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
}

.text-cell {
    width: 45%;
    font-size: 18px;
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-cell img {
    display: block;
    max-width: 100%;
    height: auto;
}
