body {
    font-family: "kristen itc", sans-serif;
    background: linear-gradient(rgba(81, 24, 142, 0.5), rgba(81, 24, 142, 0.5)), 
                url('/static/images/inazuma.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


.navi {
    width: 100%;
    padding: 10px;
    font-family: "Kristen ITC", sans-serif;
    font-size: 22pt;
    background: linear-gradient(rgb(255, 201, 181), rgba(255, 250, 205, 0.64))
}



.navi ul li {
    margin-left: 20px;
}

.navi ul li a {
    color: rgb(66, 34, 95);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    display: block;
}

.navi ul li a:hover {
    background-color: rgba(45, 5, 242, 0.2);
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: rgb(154, 116, 221);
}


a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

a:hover {
    color: rgb(234, 234, 156);
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background: none;
    border: 3px solid rgb(244, 255, 163);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(244, 255, 163);
}
