<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navi">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ url_for('start') }}" class="nav-link">Sākums</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('player') }}" class="nav-link">Spēlētāji</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('sales') }}" class="nav-link">Ieņēmumi</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('stars') }}" class="nav-link">Retums</a>
            </li>
        </ul>
    </nav>
        

    <nav style="width:30%; height:10px;"></nav>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="table-container">
  <table class="styled-table">
      <tr>
          <td class="text-cell">Spēle: Zoneless Zone Zero(ZZZ). <br> <br> Spēlētāju skaits, kas pārsniedz 1.0, nav norādīts, jo spēle joprojām ir jauna un tās dati vel nav publicēti.
           <br><br> <button id="downloadBtn0">Instalēt ZZZ_CSV</button>
             
            <a id="downloadLink0" href="static\ZZZ_StatisticsCC.csv" download="ZZZ_StatisticsCC.csv" style="display:none;"></a>
            
            <script>
                document.getElementById('downloadBtn0').addEventListener('click', function() {
                    document.getElementById('downloadLink0').click();
                });
            </script>
        </td>
          <td class="image-cell">
          <img src="{{ url_for('static', filename='images/player_zzz.png') }}" alt="">
          </td>
      </tr>
    <tr>
        <td class="text-cell">Spēle: Honkai Star Rail(HSR).<br> <br> Var skaidri redzēt, ka spēle aug ātri un vienmērīģi. <br> Ar katru spēles versiju izņemot 1.0, var redzēt, ka spēlētāju skaits palielinās par apmēram 5 mil. (Versijā 1.0 līdz 1.1 var redzēt, ka spēlētāju skaits palielinājās par apmēram 33 mil.)
            <br><br> <button id="downloadBtn1">Instalēt HSR_CSV</button>
             
            <a id="downloadLink1" href="static\Game_StatisticsHSR (1).csv" download="Game_StatisticsHSR (1).csv" style="display:none;"></a>
            
            <script>
                document.getElementById('downloadBtn1').addEventListener('click', function() {
                    document.getElementById('downloadLink1').click();
                });
            </script>
        </td>
        <td class="image-cell">
        <img src="{{ url_for('static', filename='images/player_HSR.png') }}" alt="">

        </td>
      </tr>

          <tr>
        <td class="text-cell">Spēle: Genshin Impact(GI). <br> <br> Grafika var redzēt, ka GI bija savi kāpumi un kritumi. <br>Vidējs spēlētāju skaits ar katru versiju palielinājās par apmēram 7 mil. (Tā pat kā HSR, GI 1.0 līdz 1.1 versijai spēlētāju skaits palielinājās par 33 mil.)
            <br><br>  <button id="downloadBtn2">Download gensin_CSV</button>

            <a id="downloadLink2" href="/static/game_statisticsgenshinimpact.csv" download="game_statisticsgenshinimpact.csv" style="display:none;"></a>
            
            <script>
                document.getElementById('downloadBtn2').addEventListener('click', function() {
                    document.getElementById('downloadLink2').click();
                });
            </script>
        </td>
        <td class="image-cell">
        <img src="{{ url_for('static', filename='images/player_genshin.png') }}" alt="">


        </td>
      </tr>
  </table>

</body>

</html>
