<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navi">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ url_for('start') }}" class="nav-link">Sākums</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('player') }}" class="nav-link">Spēlētāji</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('sales') }}" class="nav-link">Pārdošana</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('stars') }}" class="nav-link">Zvaigznes</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('voice') }}" class="nav-link">Balsis</a>
            </li>
        </ul>
    </nav>
        

    <nav style="width:30%; height:10px;"></nav>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<div class="table-container">
  <table class="styled-table">
      <tr>
          <td class="text-cell">Spēle: Zoneless Zone Zero(ZZZ). <br>Spēles ieņēmumi, kas pārsniedz 1.0, nav norādīti, jo spēle joprojām ir jauna un tās dati vēl nav publicēti. </td>
          <td class="image-cell">
          <img src="{{ url_for('static', filename='images/player_zzz.png') }}" alt="">
          </td>
      </tr>
    <tr>
        <td class="text-cell">teksts kreisajā pusē.</td>
        <td class="image-cell">
        <img src="{{ url_for('static', filename='images/player_HSR.png') }}" alt="">

        </td>
      </tr>

          <tr>
        <td class="text-cell">teksts kreisajā pusē.</td>
        <td class="image-cell">
        <img src="{{ url_for('static', filename='images/player_genshin.png') }}" alt="">


        </td>
      </tr>
  </table>

</body>

</html>
