<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miHoyo statistics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stars.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navi">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ url_for('start') }}" class="nav-link">Sākums</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('player') }}" class="nav-link">Spēlētāji</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('sales') }}" class="nav-link">Ieņēmumi</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('stars') }}" class="nav-link">Retums</a>
            </li>
        </ul>
    </nav>
        

    <nav style="width:30%; height:10px;"></nav>
    <table class="styled-table">
        <tr>
            <td class="text-cell"><br>
                Honkai Star Rail 4⭐ un 5⭐ skaits, priekš paša sākuma(head), kur rāda pirmos 10 varoņus pēc to retuma.
             <br><br> <button id="downloadBtn5">Instalēt char_HSR_CSV</button>

               
              <a id="downloadLink5" href="static\Honakai_Star_Rail_CharLIST.csv" download="Honakai_Star_Rail_CharLIST.csv" style="display:none;"></a>
              
              <script>
                  document.getElementById('downloadBtn5').addEventListener('click', function() {
                      document.getElementById('downloadLink5').click();
                  });
              </script>
          </td>
            <td class="image-cell">
            <img src="{{ url_for('static', filename='images/stars_hsr.png') }}" alt="">
            </td>
        </tr>
      <tr>
          <td class="text-cell"><br>
            Honkai Star Rail 4⭐ un 5⭐ skaits, priekš pašam beigām (tail), kur rāda pēdējos 10 varoņus pēc to retuma.
              <br><br> <button id="downloadBtn6">Instalēt char_HSR_CSV</button>
               
              <a id="downloadLink6" href="static\Honakai_Star_Rail_CharLIST.csv" download="Honakai_Star_Rail_CharLIST.csv" style="display:none;"></a>
              
              <script>
                  document.getElementById('downloadBtn6').addEventListener('click', function() {
                      document.getElementById('downloadLink6').click();
                  });
              </script>
          </td>
          <td class="image-cell">
          <img src="{{ url_for('static', filename='images/starsT_hsr.png') }}" alt="">
  
          </td>
        </tr>
  
            <tr>
          <td class="text-cell">Spēle: Genshin Impact(GI). <br> <br> Genshin Impact 4⭐ un 5⭐ skaits, priekš paša sākuma(head), kur rāda pirmos 10 varoņus pēc to retuma.
              <br><br>  <button id="downloadBtn7">Instalēt gensin_CSV</button>
  
              <a id="downloadLink7" href="static\Genshin_Character_List.csv" download="Genshin_Character_List.csv" style="display:none;"></a>
              
              <script>
                  document.getElementById('downloadBtn7').addEventListener('click', function() {
                      document.getElementById('downloadLink7').click();
                  });
              </script>
          </td>
          <td class="image-cell">
          <img src="{{ url_for('static', filename='images/starsH_gii.png') }}" alt="">
  
  
          </td>
        </tr>

        <tr>
            <td class="text-cell">Spēle: Genshin Impact(GI). <br> <br> Genshin Impact 4⭐ un 5⭐ skaits, priekš pašām beigām(tail), kur rāda pirmos 10 varoņus pēc to retuma.
                <br><br>  <button id="downloadBtn8">Instalēt gensin_CSV</button>
    
                <a id="downloadLink8" href="static\Genshin_Character_List.csv" download="Genshin_Character_List.csv" style="display:none;"></a>
                
                <script>
                    document.getElementById('downloadBtn8').addEventListener('click', function() {
                        document.getElementById('downloadLink8').click();
                    });
                </script>
            </td>
            <td class="image-cell">
            <img src="{{ url_for('static', filename='images/starsT_gi2.png') }}" alt="">
    
    
            </td>
          </tr>
          <tr>
            <td class="text-cell">Spēles: Genshin Impact(GI), Honkai Star Rail(HSR). <br> <br> Genshin Impact un Honkai Star Rail 4⭐ un 5⭐ skaita salīdzinājums.
                <br><br>  <button id="downloadBtn9">Instalēt HSR + GI</button>
    
                <a id="downloadLink9" href="static\HSR_GI_charLIST.csv" download="HSR_GI_charLIST.csv" style="display:none;"></a>
                
                <script>
                    document.getElementById('downloadBtn9').addEventListener('click', function() {
                        document.getElementById('downloadLink9').click();
                    });
                </script>
            </td>
            <td class="image-cell">
            <img src="{{ url_for('static', filename='images/starskopa.png') }}" alt="">
    
    
            </td>
          </tr>

    </table>





    <h2>Vai tev patika šie grafiķi?</h2>
    <form method= "post">
        <button type="submit" name="response" value="Yes">Jā</button>
        <button type="submit" name="response" value="No">Nē</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}


</body>
</html>
